/* Base animations */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





@keyframes highlight {
  0% {
    transform: scaleY(1);
    background-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    transform: scaleY(1.2) scaleX(1.02); /* Gonflement vertical */
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: scaleY(1);
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.animate-highlight {
  animation: highlight 0.6s ease-in-out;
}





@keyframes slide-in {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.6s ease-out forwards;
}